body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 150px 250px 150px 250px;
    background: #f5f5f5;
    text-align: center;
}

h1{
    font-weight: 200;
    font-size: 35px;
}

.parHeader{
    font-weight: 500;
    margin: 25px 00px 30px 00px;
}

.btn{
    width: 150px;
    height: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 100px;
    border-style: none;
    background: #ff2d57;

    /* Button Animation */
    transition: all .24s cubic-bezier(0,.5,.51,1); 

    /* Button Shaddow */
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.btn:hover { 
    /* Button Animation */
    transform: scale(1.15); 

    /* Button Shaddow */
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    
}
  
.btn2 { 
    display: inline;
    position: relative;
    top: -55px;
    left: 285px;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 100px;
    border-style: none;
    background: #ff2d57;


    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    
    cursor: pointer;


    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.btn2:hover { 
    color: #ff2d57;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: #ff2d57;
    background: none;   
   
    padding-top: 20px;
    padding-bottom: 20px;
 
    -webkit-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.resourcesSection{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 250px;
}

.resourceContainer{
    width: 900px;
    height: 200px;
    padding: 50px 00px 00px 50px;
    margin: 50px 00px 50px 00px;
    border-radius: .75em;
    border-style: none;
    background: #f7f7f7;

    transition: all .15s ease;

    /* Shaddows */
    -webkit-box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.59);
}

.resourceContainer:hover{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
}

.resourceTag{
    width: 150px;
    height: 35px;
    margin: 10px 5px 00px 00px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color:rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 100px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
}

.resourceImg{
    display: block;
    float: left;
    max-width: 20%;

    margin-top: -12px;
    margin-right: 45px;

}